.dialogsPage {
/*  display: flex;*/
  width: 80%;
  border: 1px solid black;

  &_chats {
    width: 20%;
    min-width: 150px;
    padding: 10px;
    border: 1px solid black;

    & div {
      margin-bottom: 10px;

      &:before {
        content: '*';
        display: inline-block;
        margin-right: 10px;
        vertical-align: middle;
      }
    }

    & a {
      text-decoration: none;
    }
  }

  &_dialog {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 80%;
    border: 1px solid black;
  }
}

.wrapper {
  display: flex;
}

.newMessage {
  border: 1px solid black;
  padding: 10px;
  margin-top: 10px;

  textarea {
    display: block;
    resize: none;
    width: 90%;
    height: 50px;
  }

  button {
    display: block;
    width: 80px;
    margin-top: 10px;
    padding: 5px;
    background-color: blueviolet;
    color: white;
    font-weight: bold;
    border: none;
  }
}
