.sidebar {
  width: 20%;
  min-width: 145px;
  margin-right: 5px;
  background-color: rgba(21, 0, 74, 0.95);
  border: 1px solid black;

  & > div {
    width: 100%;
    text-align: center;
  }

  a {
    text-decoration: none;
    color: white;

    &.active {
      color: gold;
    }
  }
}

.friendsPage {
  margin: 30px 0;

  &_blockWithFriendsAva {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid white;
    margin: 10px;
  }
}



