.profilePage_myPosts {
  margin-top: 10px;
  border: 1px solid black;

  &>div {
    border: 1px solid black;
  }

  textarea {
    display: block;
    width: 100%;
    resize: none;
  }

  button {
    width: 80px;
    margin-top: 10px;
    padding: 5px;
    background-color: blueviolet;
    color: white;
    font-weight: bold;
    border: none;
  }
}
